  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} — {{ site.name }}</title>
    
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="robots" content="index, follow, noarchive">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!--[if ie]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta http-equiv="imagetoolbar" content="false" />
    <![endif]-->
    
    <link rel="shortcut icon" href="{{ site.logo-location }}">
    <link href="{{ site.font-location }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="http://tachyons.io/css/tachyons.min.css">
    <link href="{{ site.global-css-location }}" rel="stylesheet" type="text/css">
  </head>
