    <header class="bg-white-90 fixed w-100 mb6">
      <nav class="dt w-100 border-box pa3 ph5-ns ttu tracked">
        <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
          <img src="/img/logo.png" class="dib w2 h2 br-100" alt="{{ site.name }}">
        </a>
        <div class="dtc v-mid w-75 tr">
          <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/about" title="About">About</a>
          <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="/writing" title="Writing">Writing</a>
        </div>
      </nav>
    </header>
