    <header class="mono bg-black-60 dim fixed w-100">
      <nav class="db dt-ns w-100 border-box pa3 ph5-ns">
        <a class="db dtc-ns v-mid white link dim w-100 w-25-ns tc tl-ns mb2 mb0-ns" href="/" title="Home">
          <img src="{{ site.logo-location }}" class="dib w2 h2 br-100" alt="{{ site.name }}">
        </a>
        <div class="db dtc-ns v-mid w-100 w-75-ns tc tr-ns">
          {% for nav-item in site.nav-items %}
            <a class="link dim white f6 f5-ns ttu tracked dib mr3 mr4-ns" href="{{ nav-item.link }}" title="{{ nav-item.title }}">{{ nav-item.title }}</a>
          {% endfor %}
        </div>
      </nav>
    </header>
